
<div class="floating-text">
    <h4>All the News that's Fit to Scrape</h4>

    {{#if user}}
    {{else}}
    <a class="btn green" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
    {{/if}}

    <a class="stories-link" href="/stories">Tell us your most delicious discovery of a meal. Whether you decided to replicate the meal in your home or simply enjoyed it, tell us your food story
    </li>
</div>